body {
    overflow: hidden;
    margin: 0.5em 1em;
    font-family: 'Glory', sans-serif;
    font-size: 1.1em;
  }

.incomeStatement {
    display: grid;
    grid-template-columns: 9vw 7vw 7vw 7vw;
}
#grossProfitDisplay, #operatingIncomeDisplay, #earningsBeforeTaxesDisplay, #netIncomeApproxDisplay, #cashDisplay, #grossProfitThisQuarterDisplay, #grossProfitLastQuarterDisplay, #operatingIncomeThisQuarterDisplay, #operatingIncomeLastQuarterDisplay, #earningsBeforeTaxesThisQuarterDisplay, #earningsBeforeTaxesLastQuarterDisplay, #netIncomeApproxThisQuarterDisplay, #netIncomeApproxLastQuarterDisplay {
    font-weight: bold;
}
#everything {
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(10, 10vh); 
}
#balancegroup {
    grid-column: 1 / 4;
    grid-row: 1 / 7;   
}
#numbergroup {
    grid-column: 4 / 8;
    grid-row: 1 / 4;
}
#buttongroup {
    grid-column: 4 / 8;
    grid-row: 4 / 8;
}
#statsgroup {
    grid-column: 4 / 8;
    grid-row: 8 / 11;
}
#upgradegroup {
    grid-column: 8 / 11;
    grid-row: 1 / 7;
}
#financinggroup {
    grid-column: 1 / 4;
    grid-row: 8 / 11;   
}
#termLoanAmountDisplay,#termLoanDurationDisplay {
    width: 8vw;
}
.btn {
    font-family: 'Glory', sans-serif;
    font-weight: 700;
    background-color: #008000;
    padding: 0.5em 1.25em;
    margin-bottom: 0.25em;
    font-size: 1.1em;
    color: white;
    width: 25vw;
    border-radius: 5px;
    border: 2px solid black;
    transition-duration: 0.3s;
}
.btn:hover {
    background-color: white;
    color: black;
}
.btn:active {
    background-color: #e0e0e0;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.btn-busy {
    background-color: #C0C0C0;
}
.btn-rnd {
    font-size: 0.85em;
    background-color: #000080;
    padding-right: 1.5em;
}

/* Tooltips */

.tooltip {
    position: relative;
  }
.tooltiptext {
    position: absolute;
    visibility: hidden;
    background-color: #505050;
    color: white;
    text-align: center;
    padding: 0.25em 0.5em;
    border-radius: 6px;
    z-index: 1;
    bottom: 125%;
    left: 0%;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
